table{
    text-align:center;
    color:black;
    border:2px solid grey;
    border-collapse:collapse;
    border-bottom-style:dotted;
}
td{
    background-color:LightGrey;
    border:2px solid white;
    height:50px;
    width:100px;
}
#err{
    color:red;
}
